<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= seo_title %></title>
    <%= stylesheet_tag "app" %>
    <meta charset="UTF-8"/>
    <meta content="<%= seo_description %>" name="description"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta property="og:image" content="/assets/images/og.png"/>
    <%= favicon_tag %>
  </head>
  <body>
    <%= render :flash %>
    <div class="page">
      <%= render :navbar %>
      <%= yield %>
      <%= render :footer %>
    </div>
    <%= javascript_tag "app" %>
  </body>
</html>
